{
  "env": {
    "browser": false,
    "es2021": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "warn",
      2
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-restricted-syntax": [
      "off"
    ],
    "no-await-in-loop": [
      "off"
    ],
    "max-len": [
      "error",
      100
    ],
    "no-plusplus": [
      "off"
    ],
    "import/prefer-default-export": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "no-multi-str": "off"
  }
}