node_modules
node_modules.nosync
.env
coverage
coverage.json
typechain
typechain-types
*.log
deployments
output

#Hardhat files
cache
artifacts
*.bytecode

# Mac files
.DS_Store

# Code editors
*.code-workspace

# Bytecode folder
bytecode
